<table width="100%">
  <tr>
    <th>Node name</th>
    <th>Resource Type</th>
    <th>JCR Path</th>
    <th>JCR Primary Type</th>
  </tr>
  {{#each comps}}
    <tr>
      <td>{{name}}</td>
      <td>{{resourceType}}</td>
      <td>{{path}}</td>
      <td>{{primaryType}}</td>
    </tr>
  {{/each}}
</table>
